{% extends 'baselogin.html' %}
{% block title %}Admin Login{% endblock title %}
{% block form %}


<div class="row">
<div class="col-md-4"></div>

<div class="col-md-4">
<h2> Admin Login </h2>

<form action="" method="post">

{% include "message.html" %}

<div class="form-group">
<input type="text" class="form-control mt-2" placeholder="Enter email" name="username" >
</div>
<br>


<button type="submit" class="btn btn-info">submit</button>

</form>
</div>


<div class="col-md-4"></div>

</div>


{% endblock form %}